{% extends '../layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav>
          <ul>
            <li><a href="/"><img src="./img/galvanize.png"></a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/books/new">New Book</a></li>
          </ul>
        </nav>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <h2>Welcome to {{ title }}</h2>
      </div>
    </div>

    <div class="row">
      {% for book in books %}
      <div class="col-md-6">
        <h1>{{ book.title }}</h1>
        <h3>{{ book.genre }}</h3>
        <p>Click here to view <a href="{{ book.b_id }}">{{ book.title }}</a></p>
      </div>
      <div class="col-md-6 center">
        <img class="cover" src="{{ book.cover_url }}">
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}