body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flex {
  display: flex;
  border: 1px solid black;
  height: 80vh;
}
.insideflex {
  width: 25%;
  /* this is what is necessary */
  margin: auto;
  background-color: black;
  color: white;
}


.booksbg {
  background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=aff2bf56593d08c8fdda8de3eced4910);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.authorsbg {
  background-image: url(https://images.unsplash.com/42/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f2df8d746b1b3284d3d5b6bae9ed2010);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.navbar-brand img{
  height: 20px;
}

.icon{
  width: 25%;
}

.center{
  text-align: center;
}

.cover {
  max-width: 50%;
}